*{
	margin: 0;	
}
/*navbar*/
nav{
	display: flex;
}
/*Navbar*/
.navbar-brand{
	font-family: 'Comic Neue', cursive;
	align-items: center;
	letter-spacing: 3px;
	margin-right: 20px;	
	color: black;
}
.nav-item{
	font-family: 'Rajdhani', sans-serif;
	font-size: 22px;	
	font-weight: 650;
	letter-spacing: 0.8px;
	color: black;
	transition: 0.8s;
	color: white;
}
.nav-item a{
	transition: all .35s ease-in-out;
	z-index: -1;
}
.container span{
	color: white;
	text-align: center;
}
.collapse{
	width: 100%;
	height: 35px;
}
.drop li a{
	text-decoration: none;
	color: black;
}
ul li{
	display: inline-block;
	padding: 7px;
}
/*Jumbotron*/
/*slide1*/
.carousel-inner .carousel-caption {
	text-align: left;
	margin-bottom: 110px;
	font-family: 'Rajdhani', sans-serif;
	color: black;
}
.carousel-inner .carousel-caption h1 {
	font-size: 60px;
	font-weight: 650;
}
.carousel-inner .carousel-caption h2 {
	font-size: 90px;
	color: #fa6464;
}
.carousel-inner .carousel-caption span {
	font-size: 29px;
	font-weight: 600;
}
.carousel-inner .carousel-caption button{
	align-items: left;
	margin-bottom: -160px;
	margin-left: -315px;
	width: 160px;
	height: 55px;
	font-size: 20px;
}
/*slide2*/
.carousel-inner .keb-ba {
	text-align: right;
	margin-bottom: 110px;
	font-family: 'Rajdhani', sans-serif;
	color: black;
}
.carousel-inner .keb-ba h3 {
	font-size: 58px;
	font-weight: 650;
}
.carousel-inner .keb-ba .yu{
	font-size: 20px;
	color: black;
}
.carousel-inner .keb-ba span {
	font-size: 29px;
	font-weight: 600;
}
.carousel-inner .keb-ba button{
	align-items: left;
	margin-bottom: -160px;
	margin-left: -315px;
	width: 160px;
	height: 55px;
	font-size: 20px;
}
/*card jumbotron2*/	
.card img{
	width: 390px;
	height: 252px;
}	
.card-title{
	color: black;
	text-align: justify;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.5rem;
	margin-top: 65px; 
	margin-left: 25px;
	font-weight: 700;
}
.card{
	margin: 60px 10px 100px 15px;
}	
.dua{
	margin-top: 48px;
}
.tiga{

}
.card a{
	text-decoration: none;
	color: black;
	text-align: justify;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.1rem;
	margin-top: 90px; 
	margin-left: 25px;
	font-weight: 700;
	letter-spacing: 1.2px;
}
