*{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}
/*navbar*/
nav{
	display: flex;
}
/*Navbar Vinfashop*/
.navbar-brand{
	font-family: 'Comic Neue', cursive;
	letter-spacing: 3px;
	margin-right: 20px;	
	color: black;
}
.navbar-text{
	margin-right: 70px;
	font-family: 'Comic Neue', cursive;
	letter-spacing: 3px;
	margin-right: 20px;	
	color: white;
	text-decoration: none;
	display: inline-block;
}
.nav-item{
	font-family: 'Jost', sans-serif;
	font-size: 22px;	
	font-weight: 650;
	letter-spacing: 0.8px;
	color: black;
	transition: 0.8s;
	color: white;
}
.nav-item a{
	transition: all .35s ease-in-out;
	z-index: -1;
}
.container span{
	color: white;
	text-align: center;
}
.head{
	width: 100%;
	padding: -1px;
}	
/*Jumbotron*/
/*slide1*/
.carousel-inner .carousel-caption {
	text-align: left;
	margin-bottom: 120px;
	font-family: 'Jost', sans-serif;
	color: black;
	font-weight: bold;
}
.carousel-inner .carousel-caption h1 {
	font-size: 50px;
	font-weight: 650;
}
.carousel-inner .carousel-caption h2 {
	font-size: 100px;
	color: #fa6464;
}
.carousel-inner .carousel-caption span {
	font-size: 25px;
	font-weight: 700;

}
.carousel-inner .carousel-caption button{
	align-items: left;
	margin-bottom: -160px;
	margin-left: -300px;
	width: 160px;
	height: 55px;
	font-size: 19px;
}
	
/*slide2*/
.carousel-inner .keb-ba h1{
	text-align: right;
	margin-bottom: 100px;
	font-family: 'Jost', sans-serif;
	color: black;
	font-size: 50px;
	margin-right: -68px;
}
.carousel-inner .keb-ba p {
	font-size: 22px;
	font-weight: 560;
	margin-left: 650px;
	margin-top: -100px;
}
.carousel-inner .keb-ba button{
	align-items: left;
	margin-bottom: -50px;
	margin-left: 650px;
	width: 160px;
	height: 55px;
	font-size: 20px;
}
/*slide3*/
.carousel-inner .ya-pa{
	text-align: center;
	margin-bottom: 110px;
	font-family: 'Jost', sans-serif;
	color: black;
	font-weight: 650;
}
.carousel-inner .ya-pa h1 {
	font-size: 35px;
	font-weight: 700;
	color: white;
}
.carousel-inner .ya-pa h2 {
	font-size: 120px;
	color: white;
	font-weight: 700;
}
.carousel-inner .ya-pa a{
	font-size: 20px;
	color: white;
	font-weight: 650;
	margin: 0 20px 0 20px;
	pointer-events: auto;
}
.carousel-inner .ya-pa a:hover{
	color: lightgray;
	font-size: 23px;
	transition-duration: 0.5s;
}
/*card jumbotron2*/	
.card img{
	width: 390px;
	height: 252px;
}	
.card img:hover{
 	transform: scale(1.5);
}	
.card-title{
	color: black;
	text-align: justify;
	font-family: 'Jost', sans-serif;
	font-size: 1.5rem;
	margin-top: 65px; 
	margin-left: 25px;
	font-weight: 700;
}
.card{
	margin: 40px 10px 100px 15px;
	border: none;
	transition: 0.8;
	border-radius: -4px;
}	
.card:hover{
	transform: scale(1.03);
}
.dua{
	margin-top: 48px;
}
.tiga{

}
.card a{
	text-decoration: none;
	color: black;
	text-align: justify;
	font-family: 'Jost', sans-serif;
	font-size: 1.1rem;
	margin-top: 90px; 
	margin-left: 25px;
	font-weight: 700;
	letter-spacing: 1.2px;
}
/*Shop by category*/
.shopby{
	font-family: 'Jost', sans-serif;
	font-size: 2.3rem;
	color: black;
	margin-bottom: 1rem;
	font-weight: 700;
}
.gender {
	padding-bottom: 8rem;
}
.gender a  {
	font-family: 'Jost', sans-serif;
	color: #fa6464;
}
.gender .woman{
	border-bottom: 0.8px solid #fa6464;
}
.gender a:hover {
	border-bottom: 1px solid #fa6464;
	color: #fa6464;
}
/*coba dulu ini curosel*/
.kartu{
	margin: -60px 33px 80px 33px;
	transition: 0.8;
	border-radius: -4px;
	cursor: pointer;
	padding: 0 60px;
}
.kartu:hover{
	transform: scale(1.03);
}
.card-body{
	text-align: center;
	cursor: pointer;
}
.kenapa{
	position: relative;
	display: flex;
	flex-direction: column;		min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: none;
	margin-bottom: 30vh;
	padding: 0 60px;
}
.circle1{
	background-color: white;
	height: 7rem;
	width: 25rem;
	position: absolute;
	align-items: center;
	font-family: 'Jost', sans-serif;
	bottom: -8%;
	right: 22%;
	justify-content: center;
	line-height: 10px;
	display: flex;	
	flex-direction: column;
	flex: 1;


}
.circle1 a{
	text-decoration: none;
	align-items: center;
	font-size: 17px;
	display: flex;
	justify-content: space-between;
}


